@use "../../../styles/variables";

.container {
  top: 4rem;
  width: 28rem;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  border-radius: 0.6rem;
  justify-content: center;
  color: variables.$medium-grey;
  background: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.50) 100%);
}
