.container {
  top: 4rem;
  width: 28rem;
  display: flex;
  cursor: pointer;
  position: relative;
  align-items: center;
  border-radius: 0.6rem;
  justify-content: center;
  color: var(--medium-grey);
  height: calc(100% - 4.4rem);
  background: var(--new-column-bg);

  &:hover {
    color: var(--main-purple);
  }
}
