@use "../ui/input/input.component.scss";

.container {
  &__input {
    gap: 1.2rem;
    display: flex;
    margin-bottom: 1.2rem;
    flex-direction: column;
  }

  &__row {
    width: 100%;
    gap: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      cursor: pointer;
    }
  }
}
