<div class="modal">
  <h1 class="heading--l">Delete this board?</h1>

  <p class="text">
    Are you sure you want to delete the '{{data.board.name}}' board? This action will remove all
    columns and tasks and cannot be reversed.
  </p>

  <div class="footer">
    <app-button label="Delete" [color]="getButtonColor.DANGER" (clickHandler)="onDeleteBoard()"></app-button>

    <app-button label="Cancel" [color]="getButtonColor.SECONDARY" (clickHandler)="onCloseModal()"></app-button>
  </div>
</div>
