<form [formGroup]="boardForm" class="modal">
  <h1 class="heading--l">
    @if(isAddMode) {
    Add New Board
    } @else {
    Edit Board
    }
  </h1>

  <app-input label="Board Name" placeholder="e.g. Web Design" controlName="name"></app-input>

  <app-modal-form-array [controlName]="'columns'" [existingItems]="data.board?.columns || []"
    (itemsChangedEvent)="onSetNewColumns($event)" [label]="'Board Columns'" [subtaskMode]="false">
  </app-modal-form-array>

  <app-button [label]="buttonText" [disabled]="!boardForm.valid || !formChanged" (clickHandler)="onSubmitForm()">
  </app-button>
</form>
