@use "../../../styles/variables";

.container {
  top: 0;
  left: 0;
  right: 0;
  gap: 1.6rem;
  display: flex;
  padding: 1.6rem;
  flex-wrap: wrap;
  position: fixed;
  align-items: center;
  background: variables.$white;
  justify-content: space-between;

  .subcontainer {
    gap: 1.6rem;
    display: flex;
    align-items: center;

    &:last-child {
      img {
        cursor: pointer;
      }
    }
  }

  .nested-subcontainer {
    gap: 0.8rem;
    display: flex;
    align-items: center;

    > img {
      cursor: pointer;
    }
  }

  .add--disabled {
    opacity: 0.25;
    cursor: default;
  }
}
