<div class="container" [ngClass]="{'container--shrink': !expandSidebar()}">
  <div class="logo">
    <img src="assets/images/logo-dark.svg" alt="logo-dark">
  </div>

  <div class="body">
    <div class="nested-subcontainer" (click)="onOpenMenu()">
      <div class="subcontainer">
        <img src="assets/images/logo-mobile.svg" alt="logo-mobile" class="logo-mobile">

        <h1 class="heading--l platform-name">{{selectedBoard()?.name}}</h1>
      </div>

      <img src="assets/images/icon-chevron-down.svg" alt="icon-chevron-down" class="chevron"
        [@rotateChevron]="isRotated() ? 'open' : 'closed'">
    </div>

    <div class="subcontainer">
      <app-button label="+ Add New Task" [small]="false" class="button" (clickHandler)="onAddTask()"></app-button>

      <img src="assets/images/icon-plus-button.svg" alt="icon-plus-button"
        [ngClass]="{'add--disabled': !selectedBoard()}" class="icon-plus-button" (click)="onAddTask()">

      <app-menu (editEvent)="onEditBoard()" (deleteEvent)="onDeleteBoard()"></app-menu>
    </div>
  </div>
</div>
