<div class="container">
  <div class="nested-subcontainer">
    <div class="subcontainer">
      <img src="assets/images/logo-mobile.svg" alt="logo-mobile">

      <h1 class="heading--l">{{selectedBoard()?.name}}</h1>
    </div>

    <img src="assets/images/icon-chevron-down.svg" alt="icon-chevron-down">
  </div>

  <div class="subcontainer">
    <img src="assets/images/icon-plus-button.svg" alt="icon-plus-button"
      [ngClass]="{'add--disabled': !selectedBoard()}" (click)="onAddTask()">

    <img src="assets/images/icon-vertical-ellipsis.svg" alt="icon-vertical-ellipsis">
  </div>
</div>
