/* width */
::-webkit-scrollbar {
  width: 1rem;
  height: 1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-purple);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-purple-hover);
}
