@use "../../../styles/variables";

.container {
  gap: 2.4rem;
  display: flex;
  padding: 2.4rem;
  flex-direction: column;

  .heading--l {
    color: variables.$red;
  }

  .text {
    color: variables.$medium-grey;
  }

  .footer {
    gap: 1.6rem;
    display: flex;
    flex-direction: column;
  }
}
