.container {
  width: 26.4rem;
  padding-top: 1.6rem;
  padding-right: 2.4rem;
  color: var(--medium-grey);

  &--sidebar {
    padding-top: 0;
  }

  .heading {
    font-size: 1.2rem;
    line-height: normal;
    padding-left: 2.4rem;
    padding-bottom: 1.9rem;
    letter-spacing: 0.24rem;
    text-transform: uppercase;
    font-family: "PlusJakartaSans-Medium";
  }

  &__menu {
    margin-bottom: 1.6rem;

    &__item {
      gap: 1.2rem;
      display: flex;
      cursor: pointer;
      align-items: center;
      padding: 1.4rem 2.4rem;

      &--new {
        color: var(--main-purple);
      }

      &:hover,
      &--selected {
        color: var(--white);
        border-radius: 0 10rem 10rem 0;
        background: var(--main-purple);

        img {
          content: url("/assets/images/icon-board-white.svg");
        }
      }
    }
  }
}
