@use "../../../styles/variables";

.container {
  gap: 0.8rem;
  width: 28rem;
  display: flex;
  cursor: pointer;
  border-radius: 0.8rem;
  flex-direction: column;
  padding: 2.3rem 1.6rem;
  background: variables.$white;
  box-shadow: 0 0.4rem 0.6rem 0 rgba(54, 78, 126, 0.10);

  .heading--s {
    color: variables.$medium-grey;
  }
}
