@use "../../../../styles/variables";

.container {
  width: 100%;

  .text--bold {
    margin-bottom: 0.8rem;
    color: variables.$medium-grey;
  }

  .icon {
    top: 50%;
    right: 0;
    position: absolute;
    transform: translateY(-50%);
  }
}
