.container {
  gap: 2rem;
  display: flex;
  flex-direction: column;

  &--empty {
    border-radius: 0.6rem;
    height: calc(100% - 4.4rem);
    outline: 0.2rem dashed var(--medium-grey);
  }
}

.cdk-drag-preview {
  border-radius: 0.6rem;
  border: 0.5rem solid var(--main-purple);
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.container.cdk-drop-list-dragging app-task-card:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
