.container {
  gap: 2.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  p {
    text-align: center;
    color: var(--medium-grey);
  }
}
