<div class="container">
  <span class="input__label">Subtasks</span>

  <div class="container__input" [formArrayName]="controlName">
    @for(control of formArray.controls; let index = $index; track control.value || index) {
    <div class="container__row">
      <mat-form-field [ngClass]="{'input--error': control.hasError('required')}">
        <input matInput [placeholder]="'e.g. Make coffee ' + (index + 1)" [formControlName]="index + ''"
          [ngClass]="{'input--shorten': control.hasError('required') && control.dirty}">

        @if(control.hasError('required') && control.dirty) {
        <span class="error text">Can't be empty</span>
        }
      </mat-form-field>

      <img src="assets/images/icon-cross.svg" alt="close" (click)="onRemoveSubtask(index)">
    </div>
    }
  </div>

  <app-button label="+ Add New Subtask" [color]="getButtonColor.SECONDARY" (clickHandler)="onAddSubtask()"></app-button>
</div>
