.container {
  width: 100%;
  gap: 1.2rem;
  align-items: center;
  display: inline-flex;
  margin-bottom: 2.4rem;
  letter-spacing: 0.24rem;
  text-transform: uppercase;
  color: var(--medium-grey);

  .heading--s {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: calc(28rem - 2.7rem);
  }

  .dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-block;
    outline: 0.1rem solid var(--line-light);
  }
}
