@use "../../../../../styles/variables";

.container {
  gap: 1.2rem;
  align-items: center;
  display: inline-flex;
  margin-bottom: 2.4rem;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: variables.$medium-grey;

  .dot {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    display: inline-block;

    &--todo {
      background: #49C4E5;
    }

    &--doing {
      background: #8471F2;
    }

    &--done {
      background: #67E2AE;
    }
  }
}
