@use './styles/reset';
@use './styles/fonts';
@use './styles/variables';
@use './styles/breakpoints';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$kanban-task-management-primary: mat.define-palette(mat.$indigo-palette);
$kanban-task-management-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$kanban-task-management-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$kanban-task-management-theme: mat.define-light-theme((color: (primary: $kanban-task-management-primary,
        accent: $kanban-task-management-accent,
        warn: $kanban-task-management-warn,
      )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($kanban-task-management-theme);

/* You can add global styles to this file, and also import other style files */

:root {
  --mdc-dialog-container-shape: 0.6rem;
  --mdc-filled-text-field-container-color: transparent;
}

mat-form-field {
  width: 100%;
  border-radius: 0.4rem;
  outline: 1px solid rgba(130, 143, 163, 0.25);

  &.mat-focused {
    outline: 1px solid variables.$main-purple;
  }
}

.mat-mdc-form-field-focus-overlay {
  opacity: 0 !important;
}

.mat-mdc-select-arrow-wrapper {
  display: none !important;
}

.mat-mdc-select-min-line  {
  font-weight: 500;
  font-size: 1.3rem;
  color: variables.$black;
  font-family: "PlusJakartaSans-Regular";
}

.mdc-line-ripple {
  display: none !important;
}

.mat-mdc-option {
  min-height: 0 !important;
  padding: 0.8rem 1.6rem !important;
}

.mat-mdc-form-field-infix {
  min-height: 0;
  padding-top: 0.8rem !important;
  padding-bottom: 0.8rem !important;
}

.mat-mdc-select-value-text,
.mdc-list-item__primary-text {
  line-height: 1.5 !important;
  font-size: 1.3rem !important;
  font-family: "PlusJakartaSans-Regular" !important;
}

.cdk-overlay-pane {
  width: 100%;
  max-width: calc(100vw - 3.2rem) !important;
}



.heading--xl {
  font-size: 2.4rem;
  line-height: 3rem;
  font-family: "PlusJakartaSans-Bold";
}

.heading--l {
  font-size: 1.8rem;
  line-height: 2.3rem;
  font-family: "PlusJakartaSans-Bold";
}

.heading--m {
  font-size: 1.5rem;
  line-height: 1.9rem;
  font-family: "PlusJakartaSans-Bold";
}

.heading--s {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: "PlusJakartaSans-Bold";
}

.text {
  font-size: 1.3rem;
  line-height: 2.3rem;
  font-family: "PlusJakartaSans-Medium";
}

.text--bold {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: "PlusJakartaSans-Bold";
}
