@use "../../../../../styles/variables";

.container {
  display: flex;
  align-items: center;
  border-radius: 0.4rem;
  background: variables.$light-grey-light-bg;

  &:hover {
    background: rgba(variables.$main-purple, 0.25);
  }

  .label {
    width: 100%;
    cursor: pointer;
    padding: 1.3rem 0.8rem 1.6rem 0;
  }

  .label--completed {
    opacity: 0.5;
    text-decoration: line-through;
  }
}
