@use "../../../../styles/variables";

.button {
  border: none;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 2.4rem;
  padding: 1.5rem 1.7rem;
  color: variables.$white;
  background: variables.$main-purple;

  &:hover {
    background: variables.$main-purple-hover;
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &--secondary {
    color: variables.$main-purple;
    background: rgba(variables.$main-purple, 0.10);

    &:hover {
      background: rgba(variables.$main-purple, 0.25);
    }
  }

  &--danger {
    color: variables.$white;
    background: variables.$red;

    &:hover {
      background: variables.$red-hover;
    }
  }

  &--small {
    width: 100%;
    font-size: 1.3rem;
    line-height: 2.3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-family: "PlusJakartaSans-Bold";
  }
}
