.button {
  border: none;
  cursor: pointer;
  white-space: nowrap;
  color: var(--white);
  border-radius: 2.4rem;
  padding: 1.5rem 1.7rem;
  background: var(--main-purple);

  &:hover {
    background: var(--main-purple-hover);
  }

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &--secondary {
    color: var(--main-purple);
    background: var(--secondary-button);

    &:hover {
      background: var(--secondary-button-hover);
    }
  }

  &--danger {
    color: var(--white);
    background: var(--red);

    &:hover {
      background: var(--red-hover);
    }
  }

  &--small {
    width: 100%;
    font-size: 1.3rem;
    line-height: 2.3rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-family: "PlusJakartaSans-Bold";
  }
}
