@if(selectedTask(); as selectedTask) {
<div class="container">
  <div class="container__header">
    <h1 class="heading--l">{{selectedTask.title}}</h1>

    <img src="assets/images/icon-vertical-ellipsis.svg" alt="icon-vertical-ellipsis">
  </div>

  @if(selectedTask.description; as description) {
  <h3 class="text">{{description}}</h3>
  }

  <div>
    <p class="text--bold">
      Subtasks ({{selectedTask.subtasks | subtaskCompletedCount}} of {{selectedTask.subtasks.length}})
    </p>

    <div class="subtask">
      @for(subtask of selectedTask.subtasks; track subtask.title) {
      <app-subtask-modal [subtask]="subtask"></app-subtask-modal>
      }
    </div>
  </div>

  <app-select [label]="'Current Status'" [values]="dropdownValues" [selectedValue]="selectedTask.status"
    (emitChangeSelectValue)="onChangeTaskStatus($event)"></app-select>
</div>
}
