.modal {
  .header {
    gap: 1.6rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .text {
    font-weight: 500;
    color: var(--medium-grey);
  }

  .text--bold {
    color: var(--medium-grey);
  }

  .subtask {
    gap: 0.8rem;
    display: flex;
    margin-top: 1.6rem;
    flex-direction: column;
  }
}
